<a href="https://colab.research.google.com/github/ckusmana21/ds1002-zrb5zc/blob/main/homework/week-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 4

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

## 1. Data Types

```python
s = "Fox"
x = 17
y = "3"
z = "false"
```

Using the variables above answer these questions:

In [1]:
# Write a snippet of code that displays the data type (class) of `s`
s = "Fox"
print(type(s))

<class 'str'>

In [6]:
y = "3"
x = 17

y = int(y)
x_plus_y = x + y
print("The sum is", x_plus_y)

The sum is 20

In [10]:
# How might you transform z into a boolean value, if you had to? Be creative.
z = "false"
boolean_z = z.lower() != "false"
print(boolean_z)

False

- - -

## 2. Lists

    mylist = ["Chicago","New Orleans", "Tempe", "Denver", "Nashville", "Albany"]

Using the list above, answer these questions:

In [11]:
# Write a snippet of code that prints out "Tempe"
mylist = ["Chicago", "New Orleans", "Tempe", "Denver", "Nashville", "Albany"]
print(mylist[2])

Tempe

In [12]:
# Write a snippet of code that adds "Atlanta" to this list and displays the extended list.
mylist = ["Chicago", "New Orleans", "Tempe", "Denver", "Nashville", "Albany"]
mylist.append("Atlanta")
print(mylist)

['Chicago', 'New Orleans', 'Tempe', 'Denver', 'Nashville', 'Albany', 'Atlanta']

In [15]:
# Write a snippet of code that prints out only "New Orleans", "Tempe", "Denver".
mylist = ["Chicago", "New Orleans", "Tempe", "Denver", "Nashville", "Albany"]
for three_places in mylist[1:4]:
  print(three_places)

New Orleans
Tempe
Denver

- - -

# 3. Dictionaries

    mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}

Answer the following questions:

In [16]:
# Write a snippet of code that returns "Trenton".
mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}
city = mydict["NJ"]
print(city)

Trenton

In [17]:
# Write a snippet of code that adds "CO":"Denver" to `mydict`.
# Remember the built-in .update({'key': 'value'}) method.
mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}
mydict.update({"CO": "Denver"})
print(mydict)

{'VA': 'Richmond', 'NC': 'Raleigh', 'NJ': 'Trenton', 'PA': 'Harrisburg', 'NY': 'Albany', 'CO': 'Denver'}

In [18]:
# Write a snippet of code that returns all the keys in `mydict`
mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}
keys = list(mydict)
print(keys)

['VA', 'NC', 'NJ', 'PA', 'NY']

- - -

# 4. NumPy Arrays

Create an `ndarray` that contains the following values and assign the array to a variable.

    2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37

Using that variable, answer the following questions:

In [20]:
# Write a snippet of code that prints the data type of the elements in the array.
import numpy as np
numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]
my_array = np.array(numbers)
print(my_array.dtype)

int64

In [21]:
# Write a snippet of code that displays `11` from the array.
import numpy as np
numbers = np.array([2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37])
print(numbers[4])

11

In [22]:
# Write a snippet of code that multiplies each array element by `7` and displays the new values.
import numpy as np
numbers = np.array([2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37])
multipied_numbers = numbers * 7
print(multipied_numbers)

[ 14  21  35  49  77  91 119 133 161 203 217 259]