<a href="https://colab.research.google.com/github/ckusmana21/ds1002-zrb5zc/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [7]:
# code here
var = 0
while var <= 20:
    if var % 2 == 0:
        print(var)
    var += 1

0
2
4
6
8
10
12
14
16
18
20

## For-Loops with Lists

In [ ]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [10]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
for value in mylist:
    if value >= 0:
        print(value)

9
15
23
4
92
47
33
17
18
38

In [9]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
for abs_val in mylist:
    if abs_val < 0:
        abs_val = abs(abs_val)
    print(abs_val)

9
15
23
4
92
47
33
17
4
18
38
242

In [11]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
for greater_val in mylist:
    if greater_val <= 20 or greater_val >= 40:
        print(greater_val)

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [ ]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [15]:
# Write a command to print out all the keys of this dict
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

print(capitals.keys())

dict_keys(['United States', 'Italy', 'England', 'Thailand', 'Brazil'])

In [16]:
# Write a command to print out all the values of this dict
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

print(capitals.values())

dict_values(['Washington DC', 'Rome', 'London', 'Bangkok', 'Brasilia'])

In [17]:
# Write a command to print all the keys and values for this dict
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

for country, capital in capitals.items():
    print(f'Country: {country}, Capital: {capital}')

Country: United States, Capital: Washington DC
Country: Italy, Capital: Rome
Country: England, Capital: London
Country: Thailand, Capital: Bangkok
Country: Brazil, Capital: Brasilia

In [18]:
# Write a command to print only the first three values and NOTHING more.
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

count = 0
for capital in capitals.values():
    print(capital)
    count += 1
    if count == 3:
        break

Washington DC
Rome
London