<a href="https://colab.research.google.com/github/ckusmana21/ds1002-zrb5zc/blob/main/homework/week-6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 6

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

# Pandas

## 1. Fetch and Load Data
In class we created a DataFrame using the `read_csv` method. Go to https://catalog.data.gov/dataset/electric-vehicle-population-data and download the CSV format of the "Electric Vehicle Population Data" dataset. Then upload it to Google Colab.

Load that data into a Pandas DataFrame and display the first 20 rows. Show your work.

In [8]:
# Set up pandas and populate the dataframe above using the raw data. Then continue to work with the dataframe in the questions below.
import pandas as pd
dataset = pd.read_csv("/content/sample_data/Electric_Vehicle_Population_Data.csv")
print(dataset.head(20))

    VIN (1-10)     County          City State  Postal Code  Model Year  \
0   KM8K33AGXL       King       Seattle    WA      98103.0        2020
1   1C4RJYB61N       King       Bothell    WA      98011.0        2022
2   1C4RJYD61P     Yakima        Yakima    WA      98908.0        2023
3   5YJ3E1EA7J       King      Kirkland    WA      98034.0        2018
4   WBY7Z8C5XJ   Thurston       Olympia    WA      98501.0        2018
5   5YJ3E1EAXL  Snohomish    Marysville    WA      98271.0        2020
6   2C4RC1N77H       King          Kent    WA      98042.0        2017
7   5YJYGDEE3L       King   Woodinville    WA      98072.0        2020
8   5YJ3E1EA1J     Island    Coupeville    WA      98239.0        2018
9   7SAYGDEF0P       King      Bellevue    WA      98004.0        2023
10  5YJ3E1EA7J       King      Kirkland    WA      98033.0        2018
11  3FA6P0SU9G     Kitsap  Port Orchard    WA      98367.0        2016
12  JTDKARFP9H     Kitsap  Port Orchard    WA      98366.0        2017
13  5YJ3E1EB8K  Snohomish      Mukilteo    WA      98275.0        2019
14  5YJ3E1EA5K       King       Redmond    WA      98052.0        2019
15  3FA6P0SU0D   Thurston     Rochester    WA      98579.0        2013
16  WA1VABGE4K       King       Seattle    WA      98112.0        2019
17  1N4AZ0CP6F       King       Seattle    WA      98125.0        2015
18  KNDCC3LD7K     Kitsap     Bremerton    WA      98311.0        2019
19  1N4AZ0CP1E     Kitsap       Poulsbo    WA      98370.0        2014

        Make           Model                   Electric Vehicle Type  \
0    HYUNDAI            KONA          Battery Electric Vehicle (BEV)
1       JEEP  GRAND CHEROKEE  Plug-in Hybrid Electric Vehicle (PHEV)
2       JEEP  GRAND CHEROKEE  Plug-in Hybrid Electric Vehicle (PHEV)
3      TESLA         MODEL 3          Battery Electric Vehicle (BEV)
4        BMW              I3  Plug-in Hybrid Electric Vehicle (PHEV)
5      TESLA         MODEL 3          Battery Electric Vehicle (BEV)
6   CHRYSLER        PACIFICA  Plug-in Hybrid Electric Vehicle (PHEV)
7      TESLA         MODEL Y          Battery Electric Vehicle (BEV)
8      TESLA         MODEL 3          Battery Electric Vehicle (BEV)
9      TESLA         MODEL Y          Battery Electric Vehicle (BEV)
10     TESLA         MODEL 3          Battery Electric Vehicle (BEV)
11      FORD          FUSION  Plug-in Hybrid Electric Vehicle (PHEV)
12    TOYOTA     PRIUS PRIME  Plug-in Hybrid Electric Vehicle (PHEV)
13     TESLA         MODEL 3          Battery Electric Vehicle (BEV)
14     TESLA         MODEL 3          Battery Electric Vehicle (BEV)
15      FORD          FUSION  Plug-in Hybrid Electric Vehicle (PHEV)
16      AUDI          E-TRON          Battery Electric Vehicle (BEV)
17    NISSAN            LEAF          Battery Electric Vehicle (BEV)
18       KIA            NIRO  Plug-in Hybrid Electric Vehicle (PHEV)
19    NISSAN            LEAF          Battery Electric Vehicle (BEV)

    Clean Alternative Fuel Vehicle (CAFV) Eligibility  Electric Range  \
0             Clean Alternative Fuel Vehicle Eligible             258
1               Not eligible due to low battery range              25
2               Not eligible due to low battery range              25
3             Clean Alternative Fuel Vehicle Eligible             215
4             Clean Alternative Fuel Vehicle Eligible              97
5             Clean Alternative Fuel Vehicle Eligible             266
6             Clean Alternative Fuel Vehicle Eligible              33
7             Clean Alternative Fuel Vehicle Eligible             291
8             Clean Alternative Fuel Vehicle Eligible             215
9   Eligibility unknown as battery range has not b...               0
10            Clean Alternative Fuel Vehicle Eligible             215
11              Not eligible due to low battery range              19
12              Not eligible due to low battery range              25
13            Clean Alternative Fuel Vehicle Eligible             220
14            Clean Alternative Fuel Vehicle Eligible             220
15              Not eligible due to low battery range              19
16            Clean Alternative Fuel Vehicle Eligible             204
17            Clean Alternative Fuel Vehicle Eligible              84
18              Not eligible due to low battery range              26
19            Clean Alternative Fuel Vehicle Eligible              84

    Base MSRP  Legislative District  DOL Vehicle ID  \
0           0                  43.0       249675142
1           0                   1.0       233928502
2           0                  14.0       229675939
3           0                  45.0       104714466
4           0                  22.0       185498386
5           0                  38.0       124595523
6           0                  47.0         1815593
7           0                  45.0       124760555
8           0                  10.0       125048003
9           0                  48.0       240416207
10          0                  48.0       231013436
11          0                  26.0       212561716
12          0                  26.0       229764972
13          0                  21.0       179728755
14          0                  45.0       120633516
15          0                  20.0       138697212
16          0                  43.0       475364046
17          0                  46.0       252522896
18          0                  23.0         2148170
19          0                  23.0       258176922

                   Vehicle Location  \
0      POINT (-122.34301 47.659185)
1      POINT (-122.20578 47.762405)
2   POINT (-120.6027202 46.5965625)
3      POINT (-122.209285 47.71124)
4      POINT (-122.89692 47.043535)
5     POINT (-122.1713847 48.10433)
6      POINT (-122.111625 47.36078)
7      POINT (-122.151665 47.75855)
8   POINT (-122.6880708 48.2179983)
9      POINT (-122.201905 47.61385)
10       POINT (-122.20264 47.6785)
11   POINT (-122.6851642 47.506453)
12      POINT (-122.639265 47.5373)
13     POINT (-122.299965 47.94171)
14      POINT (-122.12302 47.67668)
15      POINT (-123.09573 46.82158)
16     POINT (-122.306935 47.62441)
17     POINT (-122.296385 47.71558)
18  POINT (-122.6468815 47.6344364)
19     POINT (-122.64177 47.737525)

                                 Electric Utility  2020 Census Tract
0    CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)       5.303300e+10
1   PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       5.303302e+10
2                                      PACIFICORP       5.307700e+10
3   PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       5.303302e+10
4                          PUGET SOUND ENERGY INC       5.306701e+10
5                          PUGET SOUND ENERGY INC       5.306194e+10
6   PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       5.303303e+10
7   PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       5.303302e+10
8                          PUGET SOUND ENERGY INC       5.302997e+10
9   PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       5.303302e+10
10  PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       5.303302e+10
11                         PUGET SOUND ENERGY INC       5.303509e+10
12                         PUGET SOUND ENERGY INC       5.303509e+10
13                         PUGET SOUND ENERGY INC       5.306104e+10
14  PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       5.303303e+10
15                         PUGET SOUND ENERGY INC       5.306701e+10
16   CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)       5.303301e+10
17   CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)       5.303300e+10
18                         PUGET SOUND ENERGY INC       5.303509e+10
19                         PUGET SOUND ENERGY INC       5.303509e+10

In [9]:
# Format a command that how many rows and columns are in this dataset.
print(len(dataset.columns))
print(dataset.shape[0])

17
150482

In [10]:
# Format a command that displays every other row of records 1000 through 1999, and the columns "City", "State", "Model Year", and "Make".
print(dataset.loc[1000:1999:2, ["City", "State", "Model Year", "Make"]])

           City State  Model Year       Make
1000     Auburn    WA        2022      TESLA
1002  Vancouver    WA        2021       JEEP
1004    Edmonds    WA        2022      TESLA
1006   Kirkland    WA        2013       FORD
1008    Seattle    WA        2022        KIA
...         ...   ...         ...        ...
1990    Seattle    WA        2020     TOYOTA
1992  Vancouver    WA        2020      TESLA
1994       Kent    WA        2023  CHEVROLET
1996    Seattle    WA        2020      VOLVO
1998    Olympia    WA        2022        KIA

[500 rows x 4 columns]

# 2. Cleaning/Imputing Data

In class we reviewed methods for removing duplicate rows and handling empty cell values. Download [this data set](https://github.com/nmagee/ds1002/blob/main/data/very-messy-data.csv) and upload into Google Colab.

Create another Pandas DataFrame from that data and perform the following steps.

In [7]:
# Set up pandas and populate the dataframe above using the raw data. Then continue to work with the dataframe in the questions below.
import pandas as pd
dataset2 = pd.read_csv("/content/sample_data/very-messy-data.csv")

In [11]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
print(dataset2.duplicated().sum())

316

In [ ]:
# Next, remove all duplicate rows using Python.
dataset2 = dataset2.drop_duplicates()

In [12]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean such that NO empty cells remain. This method
# is called "imputation" because it fills in cells in a statistically less-impactful
# way than if they were blank.

# Show how you would update those four columns in code

four_columns = ["sepal_length", "sepal_width", "petal_length", "petal_width"]
column_mean = dataset2[four_columns].mean()
dataset2[four_columns] = dataset2[four_columns].fillna(column_mean)

# 3. Save to a New CSV

Preserve your updated DF to a CSV file by using the method built into Pandas.
Name the output file `very-clean-data.csv` and save it to GitHub in the same directory where you will save this homework. We will review both your Colab notebook and the cleaned data file.